---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageTitle = "About Chuj Me";

const identity = {
    firstName: "Twoja Stara",
    country: "Dupa",
    occupation: "Zapierdala",
    hobbies: ["Wódka", " Dziwki", " i Lasery"],
};

const skills = ["Picie", "Jaranie", "Sranie po ścianie"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "red";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="favicon.svg" />
        <meta name="viewport" content="width-device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <style define:vars={{ skillColor, fontWeight, textCase }}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
    </head>
    <body>
        <Header />

        <h1>My Astro Site</h1>
        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>

        <p>
            I am working through Astro's introductory tutorial. This is the
            second page on my website, and it's the first one I built myself!
        </p>

        <p>
            This site will update as I complete more of the tutorial, so keep
            checking back and see how my journey is going!
        </p>
        <p>Chuj dupa i kamieni kupa</p>
        <ul>
            <li>Jam jest {identity.firstName}</li>
            <li>
                Brudna {identity.country} i w dodatku {identity.occupation}.
            </li>
            {
                identity.hobbies.length >= 3 && (
                    <li>Ja lubieć {identity.hobbies}</li>
                )
            }
        </ul>
        <p>Żem jest dobry w:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {
            goal === 3 ? (
                <p>My goal is to finish in 3 days.</p>
            ) : (
                <p>My goal is not 3 days</p>
            )
        }
        <Footer />
    </body>
</html>
