---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Chuj Me";

const identity = {
    firstName: "Twoja Stara",
    country: "Dupa",
    occupation: "Zapierdala",
    hobbies: ["Wódka", " Dziwki", " i Lasery"],
};

const skills = ["Picie", "Jaranie", "Sranie po ścianie"];

const happy = true;
const finished = false;
const goal = 3;

---
<BaseLayout pageTitle={pageTitle}>
    <h2>Dupa dupa dupa</h2>
    <p>
        I am working through Astro's introductory tutorial. This is the
        second page on my website, and it's the first one I built myself!
    </p>
    
    <p>
        This site will update as I complete more of the tutorial, so keep
        checking back and see how my journey is going!
    </p>
    <p>Chuj dupa i kamieni kupa</p>
    <ul>
        <li>Jam jest {identity.firstName}</li>
            <li>
                Brudna {identity.country} i w dodatku {identity.occupation}.
            </li>
            {
                identity.hobbies.length >= 3 && (
                    <li>Ja lubieć {identity.hobbies}</li>
                )
            }
        </ul>
        <p>Żem jest dobry w:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {
            goal === 3 ? (
                <p>My goal is to finish in 3 days.</p>
            ) : (
                <p>My goal is not 3 days</p>
            )
        }
</BaseLayout>